Repository ImageEngine/cortex, pull requests merged in 2021-11, with the labels that each got.

#1196 Houdini py3
  SConstruct
  include/IECoreHoudini/CoreHoudini.h
  include/IECoreHoudini/LiveScene.h
  python/IECoreHoudini/FnParameterisedHolder.py
  python/IECoreHoudini/ParmTemplates.py
  python/IECoreHoudini/TestCase.py
  python/IECoreHoudini/__init__.py
  src/IECoreHoudini/CoreHoudini.cpp
  src/IECoreHoudini/LiveScene.cpp
  src/IECoreHoudini/bindings/IECoreHoudiniModule.cpp
  test/IECoreHoudini/CobIOTranslator.py
  test/IECoreHoudini/FromHoudiniCurvesConverter.py
  test/IECoreHoudini/FromHoudiniPointsConverter.py
  test/IECoreHoudini/FromHoudiniPolygonsConverter.py
  test/IECoreHoudini/LiveSceneTest.py
  test/IECoreHoudini/NodeHandle.py
  test/IECoreHoudini/OpHolder.py
  test/IECoreHoudini/SceneCacheTest.py
  test/IECoreHoudini/TemporaryParameterValuesTest.py
  test/IECoreHoudini/ToHoudiniCompoundObjectConverter.py
  test/IECoreHoudini/ToHoudiniCortexObjectConverter.py
  test/IECoreHoudini/ToHoudiniCurvesConverter.py
  test/IECoreHoudini/ToHoudiniPointsConverter.py
  test/IECoreHoudini/ToHoudiniPolygonsConverter.py
  test/IECoreHoudini/UpdateMode.py
  test/IECoreHoudini/ops/objectDebug/objectDebug-1.py
  test/IECoreHoudini/ops/vectors/V3fVectorAdder/V3fVectorAdder-1.py
  test/IECoreHoudini/ops/vectors/V3fVectorCreator/V3fVectorCreator-1.py
Labels: houdini

#1194 Avoid functionality deprecated in TBB 2020
  contrib/IECoreAppleseed/include/IECoreAppleseed/RendererController.h
  include/IECore/LRUCache.inl
  include/IECore/RefCounted.h
  include/IECore/StreamIndexedIO.h
  include/IECoreGL/Group.h
  include/IECoreMaya/MessageHandler.h
  include/IECoreScene/CurvesPrimitiveEvaluator.h
  include/IECoreScene/MeshPrimitiveEvaluator.h
  include/IECoreScene/PointsPrimitiveEvaluator.h
  include/IECoreVDB/VDBObject.h
  src/IECore/CachedReader.cpp
  src/IECore/IndexedIOAlgo.cpp
  src/IECore/RunTimeTyped.cpp
  src/IECoreGL/DeferredRendererImplementation.cpp
  src/IECoreGL/Renderer.cpp
  src/IECoreGL/bindings/GroupBinding.cpp
  src/IECoreImage/DisplayDriverServer.cpp
  src/IECoreImage/ImageDisplayDriver.cpp
  src/IECoreMaya/MessageHandler.cpp
  src/IECorePython/LRUCacheBinding.cpp
  src/IECorePythonModule/TBBBinding.cpp
  src/IECoreScene/CurvesPrimitiveEvaluator.cpp
  src/IECoreScene/MeshAlgoDistributePoints.cpp
  src/IECoreScene/MeshPrimitiveEvaluator.cpp
  src/IECoreScene/PointSmoothSkinningOp.cpp
  src/IECoreScene/PointsPrimitiveEvaluator.cpp
  src/IECoreScene/bindings/CurvesPrimitiveEvaluatorBinding.cpp
  src/IECoreScene/bindings/IECoreScene.cpp
  src/IECoreScene/bindings/SceneCacheBinding.cpp
  src/IECoreVDB/VDBObject.cpp
  test/IECore/ComputationCacheTest.cpp
  test/IECore/InternedStringTest.cpp
  test/IECore/LRUCacheThreadingTest.cpp
  test/IECore/ParameterThreadingTest.cpp
  test/IECore/RefCountedThreadingTest.cpp
Labels: core

#1197 Usd scene hash fix
  contrib/IECoreUSD/src/IECoreUSD/USDScene.cpp
  contrib/IECoreUSD/test/IECoreUSD/USDSceneTest.py
  contrib/IECoreUSD/test/IECoreUSD/data/customAttribute.usda
Labels: usd

#1188 Usd support attribute2
  contrib/IECoreUSD/include/IECoreUSD/AttributeAlgo.h
  contrib/IECoreUSD/resources/plugInfo.json
  contrib/IECoreUSD/src/IECoreUSD/AttributeAlgo.cpp
  contrib/IECoreUSD/src/IECoreUSD/PrimitiveAlgo.cpp
  contrib/IECoreUSD/src/IECoreUSD/SceneCacheData.cpp
  contrib/IECoreUSD/src/IECoreUSD/SceneCacheData.h
  contrib/IECoreUSD/src/IECoreUSD/USDScene.cpp
  contrib/IECoreUSD/src/IECoreUSD/bindings/IEUSDModule.cpp
  contrib/IECoreUSD/test/IECoreUSD/SceneCacheFileFormatTest.py
  contrib/IECoreUSD/test/IECoreUSD/USDSceneTest.py
  contrib/IECoreUSD/test/IECoreUSD/data/customAttribute.usda
  contrib/IECoreUSD/test/IECoreUSD/data/primVars.usda
  contrib/IECoreUSD/test/IECoreUSD/data/sphere.usda
  test/IECoreNuke/SceneCacheReaderTest.py
  test/IECoreNuke/scripts/data/sceneCacheTestUVResults.0001.exr
  test/IECoreNuke/scripts/data/sceneCacheTestUVResults.0010.exr
  test/IECoreNuke/scripts/data/sceneCacheTestUVResults.0020.exr
  test/IECoreNuke/scripts/data/sceneCacheTestUVResults.0030.exr
  test/IECoreNuke/scripts/data/sceneCacheTestUVResults.0040.exr
  test/IECoreNuke/scripts/data/sceneCacheTestUVResults.0050.exr
  test/IECoreNuke/scripts/sceneCacheTestUV.nk
Labels: usd
